@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto:wght@700&family=Open+Sans:wght@300&family=Playfair+Display+SC&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--white);
}
:root{
  --red:#990100;
  --white:#f6f6f6;
  --dark:#333333;
}

@keyframes abrirSite {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

body{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(97,94,89,1) 100%);
  animation: abrirSite 3s forwards;  
}

.logo{
  background-repeat: no-repeat;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20%;
  /* box-shadow: 0 0.1rem 0.5rem #ccc; */
  width: 100%;
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 46%, rgba(97,94,89,1) 100%); */
  
  transition: all 0.5s;
  /* position: fixed; */
}
.navigation .logo{
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
}

.navigation ul{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.navigation ul li a{
  color: var(--white);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}
.navigation ul li a:hover{
  color: var(--red);
}

li{
  font-family: 'Open Sans', sans-serif;
}

.menu{
  cursor: pointer;
  display: none;
}
.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
  background: var(--red);
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-one{
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  font-size: 4rem;
}
.paragrafo{
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  font-size: 2rem;
}

.title-one, .paragrafo{
  text-align: center;
}

.container-slide{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 50vh;
  background-color: black;
  margin: 10vh auto;
  border-radius: 20px;
  box-shadow: 0 20px 30px black;
  /* border: 5px solid black; */
}

.container-items {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  overflow: hidden;
}

.item {
  width: 50vw;
  height: 50vh;
  transition: all 1s;
}
.item:first-child{
  margin-left: -100%;
}

.item img {
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
}

.action-button{
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #00000000;
  user-select: none;
  z-index: 1;
}
.action-button:hover{
  color: white;
  background-color: #00000055;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s;
}

.container-cards{
  padding-left: 8rem;
  margin-left: 8rem;
}

.second-title{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-right: 16rem;
}

.card{
  display: flex;
  padding-right: 8rem;
  margin-bottom: 4rem;
}

.img-card{
  max-width: 22vw;
  height: 30vh;
  border-radius: 20px;
  border: 4px solid black;
}

.text-card{
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 40px;
}

.title-card{
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-card{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: justify;
}

.rodape{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}


@media (max-width:785px) {
  header{
    position: fixed;
    background: #171717;
    z-index: 1000;
    box-shadow: 0 2px 20px #3F3F3F;
    width: 100%;
  }
  .navigation{
    padding: 18px 20px;
}
.menu{
    display: block;
    padding-left: 55vw;
    padding-right: 10vw;
}
.menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
}
.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    right: -100%;
    top: 100px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--dark);
    gap: -10px;
    transition: 0.3s;
    z-index: 1000;

}
.nav-menu.ativo{
    right: 0;
}
.nav-item{
    margin: 16px 0;
}

.navigation ul{
  gap: 1rem;
}


main{
  padding-top: 30%;
}


.title-one{
  padding-top: 20px;
  font-size: 3rem;
}
.paragrafo{
  padding-top: 10px;
  font-size: 1.4rem;
}


  .container-slide{
    width: 80vw;
    height: 30vh;
  }

  .container-items {
    width: 80vw;
    height: 30vh;
  }

  .item{
    width: 80vw;
    height: 30vh;
  }

  .item img {
    width: 80vw;
    height: 30vh;
  }


  .container-cards{
    padding-left: 0rem;
    margin-left: 0rem;

  }

  .second-title{
    padding-bottom: 0rem;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-right: 0rem;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0rem;
    margin-bottom: 2rem;
  }

  .text-card{
    padding-left: 15px;
    padding-right: 15px;
  }

  .img-card{
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    width: 80vw;
    height: 25vh;
    border-radius: 20px;
    border: 4px solid black;
  }

  .title-card{
    font-size: 1.8rem;
    text-align: center;
  }
  
  .p-card{
    font-size: 1.2rem;
    text-align: justify;
  }

  .js-accordion .p-card{
    display: none;
  }

  .js-accordion .title-card::after{
    content: '⬎';
    margin-left: 10px;
  } 
  .js-accordion .title-card.ativo::after{
    content: '⬏';
  } 

  .js-accordion .p-card.ativo{
    display: block;
    animation: slideDown .5s forwards;
  }

  @keyframes slideDown {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }  
  }

  .rodape{
    gap: 2rem;
  }
  .copyright{
    font-size: 0.9rem;
  }
}
